.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pagination{
  --bs-pagination-bg:rgb(10, 84, 74);
  --bs-pagination-border-color: #0a2717;
  --bs-pagination-hover-bg: #092110;
    --bs-pagination-hover-border-color: #092110;
}
.accordion-item ,.accordion-button{
  border: none;
}
.downArrow{
cursor: pointer;
}
